<br>
<% if !logged_in? %>
This page is for registered users to log in. To register, <%= link_to "click here.", signup_path %>
<% end %>


<h1>Log in</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log in" %>
    <% end %>
