<h1><%= @user.user_name %></h1>

<br>

<h3>About this user: </h3><%= @user.about %>

<br>
<hr>
<h2>Hey <%= @user.user_name %>, these are your courses:</h2>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Day or night?</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>



    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= course.day_or_night %></td>
      </tr>

</tbody>

<% end %>
